.chart__page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  padding: 20px;

  .filter__area {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    .filter--select {
      width: 300px;
    }
  }

  .chart__area {
    width: calc(100vw - 110px);
    height: 500px;

    .chart--empty {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: gray;

      .empty--icon {
        font-size: 50px;
      }
      .empty--text {
        margin-top: 15px;
        font-size: 20px;
      }
    }
  }
}
