.recipe__page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .recipe__ul {
    width: 70%;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn__area {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
}

.recipe__del__modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .form--select {
    flex: 1;
    margin-right: 10px;
  }

  .form--btn {
    width: 36px;
    height: 36px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #dc3535;
    }
  }
}

.recipe__add__modal {
  width: 100%;
  height: 100%;

  .recipe--title__area {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .title__area--input {
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
      text-align: left;
      font-size: 20px;
      outline: none;
    }
  }
  .recipe--result__area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .recipe--ingredient__area {
    width: 100%;
    height: calc(100% - 240px);
    overflow-y: auto;

    .ingredient__list {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 5px;
      box-sizing: border-box;
      color: grey;
      cursor: pointer;
      user-select: none;
      overflow: hidden;
      font-size: 14px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #dc3535;
        color: white;
      }
    }
  }
  .recipe--input__area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .add--btn {
      width: 36px;
    }
  }
  .recipe--btn__area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .form--select {
    flex: 1;
    min-width: 200px;
    margin-right: 10px;
  }
  .form--input {
    width: 100px;
    height: 36px;
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: right;
  }
  .form--btn {
    width: 100px;
    height: 36px;
    margin-left: 10px;
  }
  .recipe__modal--seperator {
    width: 100%;
    border-bottom: 1px solid grey;
  }
}
