@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

button {
  width: 100px;
  height: 32px;
  background-color: #2c3333;
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-color: #475151;
}

.invisible {
  display: none !important;
}
