.warning {
  width: "100%";
  height: "100%";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.warning .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.warning .text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 25px;
}

.warning .btn__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
