#modal-root {
  position: relative;
}

.modal-area {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.modal-container {
  width: 50%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
