.easy__input {
  width: 100%;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;
}

.easy__input > button {
  width: 100%;
  min-width: 60px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 0px;
  white-space: nowrap;
  color: white;
}
